@media (max-width: 767px){
.center{
        padding-left: 16px;
        padding-right:  16px;
    }
.header{
    height: 735px;
    background-image: url(img/mobile.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 238px;
}
.header__content{
    align-items: center;
}
.header__heading{
font-size: 32px;
line-height: 39px;
text-align: center;
}
.header__text{
font-size: 14px;
line-height: 22px;
padding-bottom: 32px;
text-align: center;
}
.game-box{
    height: 1221px;
}
.game-box__item{
    width: 343px;
}
}
