* {
  margin: 0;
  padding: 0;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

body {
  font-family: "Montserrat", sans-serif;
}

.header {
  height: 1024px;
  background-image: url(img/gamesheader.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 217px;
}

.header__content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.header__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  color: #FFFFFF;
  padding-bottom: 32px;
  max-width: 792px;
}

.header__text {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
  padding-bottom: 44px;
  max-width: 426px;
}

.header__bold {
  font-weight: 700;
}

.header__btn {
  width: 234px;
  height: 48px;
  background: #9C0332;
  border-radius: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  border: 1px solid #000000;
  cursor: pointer;
  transition: 0.3s;
}
.header__btn:hover {
  transform: scale(1.1);
  background: #000000;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  color: rgba(170, 170, 170, 0.6666666667);
}

.game-box {
  min-height: 556px;
  background-image: url(img/gamebox.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 128px;
}

.game-box__content {
  display: flex;
  flex-wrap: wrap;
  gap: 31px;
}

.game-box__item {
  height: 300px;
  width: 379px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-property: left, top;
  transition-timing-function: ease-in-out;
}
.game-box__item:hover {
  transform: scale(1.05);
}

.game-box_item_1 {
  background-image: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(img/game1.jpg);
  border-radius: 16px;
  box-sizing: border-box;
  padding-top: 236px;
  padding-left: 32px;
}

.game-box_item_2 {
  background-image: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(img/game2.jpg);
  border-radius: 16px;
  box-sizing: border-box;
  padding-top: 236px;
  padding-left: 32px;
}

.game-box_item_3 {
  background-image: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(img/game3.jpg);
  border-radius: 16px;
  box-sizing: border-box;
  padding-top: 236px;
  padding-left: 32px;
}

.game-year {
  min-height: 800px;
  background-image: url(img/game-year.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 128px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}
.game-year__content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 32px;
}
.game-year__img {
  width: 485px;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}
.game-year__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: #FFFFFF;
}
.game-year__text {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  max-width: 535px;
  color: #FFFFFF;
}
.game-year__btn {
  width: 234px;
  height: 48px;
  background: #9C0332;
  border-radius: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  border: 1px solid #000000;
  cursor: pointer;
  transition: 0.3s;
}
.game-year__btn:hover {
  transform: scale(1.1);
  background: #000000;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  color: rgba(170, 170, 170, 0.6666666667);
}

.game-word {
  min-height: 800px;
  background-image: url(img/game-year.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 128px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
}
.game-word__content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 32px;
}
.game-word__img {
  width: 485px;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}
.game-word__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: #FFFFFF;
}
.game-word__text {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  max-width: 535px;
  color: #FFFFFF;
}
.game-word__btn {
  width: 234px;
  height: 48px;
  background: #9C0332;
  border-radius: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  border: 1px solid #000000;
  cursor: pointer;
  transition: 0.3s;
}
.game-word__btn:hover {
  transform: scale(1.1);
  background: #000000;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  color: rgba(170, 170, 170, 0.6666666667);
}

@media (max-width: 1200px) {
  .center {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
}
@media (min-width: 768px) and (max-width: 833px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    height: 735px;
    background-image: url(img/mobile.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .header__content {
    align-items: center;
  }
  .header__heading {
    font-size: 32px;
    line-height: 39px;
    text-align: center;
  }
  .header__text {
    font-size: 14px;
    line-height: 22px;
    padding-bottom: 32px;
    text-align: center;
  }
  .game-box {
    min-height: 1221px;
  }
  .game-box__item {
    width: 343px;
  }
}/*# sourceMappingURL=style.css.map */